<footer>
    Copyrights Piotr Pacewicz
</footer>
<script>
    const ul = document.querySelectorAll('#own-list li').length;
    const add = document.querySelector('#add');
//     const inputText = document.querySelectorAll('input[type="text"]');
const inputText = document.querySelectorAll('input[type="submit"]');

inputText.forEach(int => int.addEventListener('click', (e)=> {
    e.preventDefault()
    const intValue = int.previousElementSibling
    const p = document.createElement('p');
    p.textContent ='ivalid';
    
    console.log('clicken', intValue.value)
}))
//     console.log(inputText)
// function validation(e, int){
   
//     if (int.value == '') {
//         console.log(e)
//         // e.preventDefault()
//         const p = document.createElement('p')
//         p.textContent = 'Invalid text'
//         console.log(p)
//         return document.querySelector('form').appendChild(p)
    
//     }}
//    inputText.forEach(int => int.addEventListener('input', (e)=> console.log('click')))


    // inputText.forEach(int => int.addEventListener('change', (e)=>{
    //     console.log(int, int.value)
    //     if(int.value == ''){
    //         e.preventDefault()
    //         const p = document.createElement('p')
    //         p.textContent = 'Invalid text'
    //         document.querySelector('form').appendChild(p)
    //     }
    // }))
    // console.log(ul)
    if (ul > 10) {
        add.disabled = true;
        const p = document.createElement('p')
        p.textContent = 'Limis of Section. Buy Premium'
        document.querySelector('#own-list').appendChild(p)

    }
</script>

</body>

</html>