<footer>
    Copyrights Piotr Pacewicz <%= new Date().getFullYear() === 2021 ? new Date().getFullYear() : `2021 - ${new Date().getFullYear()}` %>
</footer>

<script src="../public/js/sections.js"></script>
<script src="../public/js/speak-feature.js"></script>
<script src="../public/js/validation.js"></script>
<script src="../public/js/login.js"></script>
</body>

</html>