<%- include('header'); -%>


<form action="/login" method="post">

<div class="form__wrapper">
    <label for="username">User:</label>
    <input type="text" name="username" id="">
    <label for="password">Password</label>
    <input type="password" name="password" id="">
    <input type="submit" value="Login">
    <p>If you havent account go to<a href="/register">Sign up</a></p>
    
</div>

</form>


<%- include('footer'); -%>