<%- include('header'); -%>
<div class="login">
<h1 class='login__header login__text-color'><%= msg ? msg : 'Welcome to Hexagon Task Manager' %></h1>
<form action="/login" method="post">

<div class="form__wrapper login__form">
    <label class='login__text-color'for="username">Email</label>
    <input class='login__form__username login__form__input' type="text" name="username" id="">
    <label class='login__text-color' for="password">Password</label>
    <input class='login__form__password login__form__input'type="password" name="password" id="">
    <input class='login__form__submit login__form__input'type="submit" value="Login">
    <p class='login__text-color'>If you havent account go to<a class='login__form__link' href="/register">Sign up</a></p>
    
</div>

</form>


<div class="social-media__wrapper">
    <div class="google">
        <a href="/auth/google" role="button" class="google-link">
        <i class="fab fa-google"></i>
        Login with Google
        </a>
    </div>
    <div class="facebook">
        <a href="/auth/facebook" role="button" class="facebook-link">
        <i class="fab fa-facebook"></i>
        Login with Facebook
        </a>
    </div>
</div>
</div>
<%- include('footer'); -%>