<%- include('header'); -%>

<h1><%= msg ? msg : 'Welcome' %></h1>
<form action="/login" method="post">

<div class="form__wrapper">
    <label for="username">User:</label>
    <input type="text" name="username" id="">
    <label for="password">Password</label>
    <input type="password" name="password" id="">
    <input type="submit" value="Login">
    <p>If you havent account go to<a href="/register">Sign up</a></p>
    
</div>

</form>


<div class="social-media__wrapper">
    <div class="google">
        <a href="/auth/google" role="button" class="google-link">
        <i class="fab fa-google"></i>
        Login with Google
        </a>
    </div>
    <div class="facebook">
        <a href="/auth/facebook" role="button" class="facebook-link">
        <i class="fab fa-facebook"></i>
        Login with Facebook
        </a>
    </div>
</div>

<%- include('footer'); -%>