<%- include('header'); -%>
<section class="own-list">
<h1 class='headline'><%= title %></h1>


<form action="/another-list" method="post">
    <input type="text" name="task">
    <input type="submit" value="input" name="send">
    <input type="hidden" name="param" value="<%=param %>">
</form>
<a class="home-link" href="/">Back to home</a>
</section>
<% include('footer'); -%>