<%- include('header'); -%>

<form class="form form__register" action="/register" method="post">

    <div class="form__wrapper">
        <label class="form__username--label" for="username">Email</label>
        <input class="form__username" type="text" name="username" id="">
        <label class="form__password--label" for="password">Password</label>
        <input class="form__password" type="password" name="password" id="">
        <input class="form__submit-register" type="submit" value="Register">
        <p class="form__register__text">If you have account go to<a class="form__register__link" href="/login">Log on</a></p>
    </div>
    </form>

    <div class="social-media__wrapper">
        <div class="google">
            <a href="/auth/google" role="button" class="google-link">
            <i class="fab fa-google"></i>
            Sign-up with Google
            </a>
        </div>
        <div class="facebook">
            <a href="/auth/facebook" role="button" class="facebook-link">
            <i class="fab fa-facebook"></i>
            Sign-up with Facebook
            </a>
        </div>
    </div>



<%- include('footer'); -%>