body {
  background-color: red;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checklist {
  --background: #ffffff;
  --text: #414856;
  --check: #4F29F0;
  --disabled: #C3C8DE;
  --width: 80vw;
  --height: auto;
  --border-radius: 10px;
  background: var(--background);
  width: var(--width);
  min-width: 60vw;
  height: var(--height);
  border-radius: var(--border-radius);
  position: relative;
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  padding: 8px 15px;
  display: grid;
  grid-template-columns: 30px auto 90px 5px;
  align-items: center;
  margin: 5px;
}

.checklist label {
  color: var(--text);
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: fit-content;
  transition: color .3s ease;
}

.checklist label::before, .checklist label::after {
  content: "";
  position: absolute;
}

.checklist label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: var(--check);
  border-radius: 2px;
  transition: background .3s ease;
}

.checklist label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}

.checklist input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  background: var(--background);
  display: grid;
  align-items: center;
}

.checklist input[type="checkbox"]::before, .checklist input[type="checkbox"]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}

.checklist input[type="checkbox"]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}

.checklist input[type="checkbox"]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}

.checklist input[type="checkbox"]:checked::before {
  animation: check-01 .4s ease forwards;
}

.checklist input[type="checkbox"]:checked::after {
  animation: check-02 .4s ease forwards;
}

.checklist input[type="checkbox"]:checked + label {
  color: var(--disabled);
  animation: move .3s ease .1s forwards;
}

.checklist input[type="checkbox"]:checked + label::before {
  background: var(--disabled);
  animation: slice .4s ease forwards;
}

.checklist input[type="checkbox"]:checked + label::after {
  animation: firework .5s ease forwards .1s;
}

.checklist .input-delete:after {
  content: "X" !important;
  position: absolute;
  height: 15px !important;
  top: auto;
  border-radius: 2px;
}

@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}

@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}

@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}

@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}

@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
  }
}

section {
  margin: 40px;
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

section ul li {
  border: 1px solid black;
  margin: 5px 0;
  border-bottom-left-radius: 5px;
  width: 300px;
  transition: .3s;
  background-color: yellowgreen;
  overflow: hidden;
  box-shadow: 0 0 5px 0px grey;
}

section ul li:hover a {
  transform: translateX(20px);
}

section ul li a {
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  display: block;
  background-color: red;
}

section form {
  text-align: center;
  display: flex;
}

section form input[type="text"] {
  padding: 5px 10px;
  margin: 0px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid black;
}

section form input[type="text"]:focus {
  border: none;
  border-bottom: 3px solid black;
}

section form input[type="submit"] {
  padding: 5px 10px;
  margin: 0px;
  background: linear-gradient(#e66465, #9198e5);
  border: none;
  box-shadow: 2px 2px 5px 0 linear-gradient(#e66465, #9198e5);
  color: #111;
  border-bottom-left-radius: 7px;
  cursor: pointer;
}

section form input[type="submit"]:hover {
  color: white;
}

section .headline {
  font-size: 20px;
  font-weight: bold;
}

section.category-list ul#own-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.category-list ul#own-list .own-category {
  display: flex;
  justify-content: space-between;
}

section.category-list ul#own-list .own-category .own-category__link {
  align-self: start;
  width: 80%;
  text-align: left;
}

section.category-list ul#own-list .own-category .own-category__input {
  align-self: end;
  background-color: red;
}
