:root {
  --green: rgba(48, 114, 77, 1);
  --lightYellow:rgba(216, 179, 67, 1);
  --darkYellow:rgba(242, 185, 79, 1);
  --salmon:rgba(242, 176, 162, 1);
  --red:rgba(242, 75, 60, 1);
  --background: #ffffff;
  --text: rgba(48, 114, 77, 1);
  --check: rgba(48, 114, 77, 1);
  --disabled: rgba(242, 176, 162, 1);
  --width: 40vw;
  --height: auto;
  --border-radius: 15px;
}

body {
  background-image: url(../../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'pristina-regular','Libre Franklin', sans-serif;
}

@media (max-width: 1200px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.checklist {
  font-family: 'Libre Franklin',sans-serif;
  font-weight: bold;
  font-size: 20px;
  background: var(--background);
  width: var(--width);
  height: var(--height);
  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  position: relative;
  -webkit-box-shadow: 10px 10px 6px var(--salmon);
          box-shadow: 10px 10px 6px var(--salmon);
  padding: 8px 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px auto 15px 10px;
      grid-template-columns: 30px auto 15px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

.checklist label.label-input {
  color: var(--text);
  position: relative;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.checklist label.label-input::before, .checklist label.label-input::after {
  content: "";
  position: absolute;
}

.checklist label.label-input::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: var(--check);
  border-radius: 2px;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
}

.checklist label.label-input:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}

.checklist input[type="checkbox"].int {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  background: var(--background);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checklist input[type="checkbox"].int::before, .checklist input[type="checkbox"].int::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}

.checklist input[type="checkbox"].int::before {
  width: 0px;
  right: 60%;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

.checklist input[type="checkbox"].int::after {
  width: 0px;
  left: 40%;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

.checklist input[type="checkbox"].int:checked::before {
  -webkit-animation: check-01 .4s ease forwards;
          animation: check-01 .4s ease forwards;
}

.checklist input[type="checkbox"].int:checked::after {
  -webkit-animation: check-02 .4s ease forwards;
          animation: check-02 .4s ease forwards;
}

.checklist input[type="checkbox"].int:checked + label {
  color: var(--disabled);
  -webkit-animation: move .3s ease .1s forwards;
          animation: move .3s ease .1s forwards;
}

.checklist input[type="checkbox"].int:checked + label::before {
  background: var(--disabled);
  -webkit-animation: slice .4s ease forwards;
          animation: slice .4s ease forwards;
}

.checklist input[type="checkbox"].int:checked + label::after {
  -webkit-animation: firework .5s ease forwards .1s;
          animation: firework .5s ease forwards .1s;
}

button.btn-delete {
  width: 40px;
  background: transparent;
  border: none;
}

@-webkit-keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}

@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}

@-webkit-keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}

@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}

@-webkit-keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@-webkit-keyframes firework {
  0% {
    opacity: 1;
    -webkit-box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
            box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
            box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
  }
}

@keyframes firework {
  0% {
    opacity: 1;
    -webkit-box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
            box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
            box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
  }
}

section.own-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1.headline {
  font-size: 100px;
  font-family: 'Pristina', sans-serif;
  color: var(--green);
  margin: 0;
}

input[type="submit"] {
  font-family: 'Pristina', sans-serif;
  font-size: 30px;
  padding: 7px 30px;
  margin: 0 0 0 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--lightYellow)), to(var(--darkYellow)));
  background: linear-gradient(var(--lightYellow), var(--darkYellow));
  border: none;
  -webkit-box-shadow: 10px 10px 6px 0 var(--lightYellow);
          box-shadow: 10px 10px 6px 0 var(--lightYellow);
  color: var(--green);
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

input[type="submit"]:hover {
  -webkit-box-shadow: -3px -3px 6px 0 var(--lightYellow);
          box-shadow: -3px -3px 6px 0 var(--lightYellow);
  font-weight: bold;
}

input[type="text"] {
  padding: 5px 60px;
  margin: 0px;
  border: none;
  background-color: transparent;
  border-bottom: 4px solid var(--green);
}

input[type="text"]:focus {
  border: none;
  border-bottom: 2px solid var(--green);
}

form {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-link {
  background: var(--green);
  color: var(--lightYellow);
  text-decoration: none;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.home-link:hover {
  font-weight: bold;
}

section {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section ul {
  margin-top: 60px;
}

section ul li {
  margin: 5px 0;
  border-bottom-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  width: 300px;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: var(--green);
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 6px 0px var(--green);
          box-shadow: 10px 10px 6px 0px var(--green);
}

section ul li:hover {
  -webkit-box-shadow: 0 0 0 var(--green);
          box-shadow: 0 0 0 var(--green);
  font-weight: bold;
}

section ul li:hover a {
  font-weight: bold;
}

section ul li a {
  padding: 5px 10px;
  text-decoration: none;
  color: var(--lightYellow);
  display: block;
  background-color: var(--green);
}

section form {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section form input[type="text"] {
  padding: 5px 60px;
  margin: 0px;
  border: none;
  background-color: transparent;
  border-bottom: 4px solid var(--green);
}

section form input[type="text"]:focus {
  border: none;
  border-bottom: 2px solid var(--green);
}

section form input[type="submit"] {
  font-family: 'Pristina', sans-serif;
  font-size: 30px;
  padding: 7px 30px;
  margin: 0 0 0 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--lightYellow)), to(var(--darkYellow)));
  background: linear-gradient(var(--lightYellow), var(--darkYellow));
  border: none;
  -webkit-box-shadow: 10px 10px 6px 0 var(--lightYellow);
          box-shadow: 10px 10px 6px 0 var(--lightYellow);
  color: var(--green);
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

section form input[type="submit"]:hover {
  -webkit-box-shadow: -3px -3px 6px 0 var(--lightYellow);
          box-shadow: -3px -3px 6px 0 var(--lightYellow);
  font-weight: bold;
}

section .headline {
  font-size: 100px;
  font-family: 'Pristina', sans-serif;
  color: var(--green);
  margin: 0;
}

section.all {
  width: 55vw;
  margin-top: -100px;
}

section.category-list {
  width: 40vw;
}

section.category-list .headline {
  font-size: 55px;
  margin-bottom: 30px;
}

section.category-list ul#own-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.category-list ul#own-list .own-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.category-list ul#own-list .own-category .own-category__link {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 80%;
  text-align: left;
}

section.category-list ul#own-list .own-category .own-category__input {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  background-color: red;
}

.trash {
  background: url(../../images/trash.svg);
  height: 1.2rem;
  width: 1rem;
  display: block;
  color: var(--red);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-filter: var(--red);
          filter: var(--red);
}

input#add {
  background: var(--green);
  color: var(--lightYellow);
}

input#trash-section {
  visibility: hidden;
}

.label__trash {
  margin: 7px 7px 0 0;
}

form[action="/another-list"] {
  margin-bottom: 70px;
}

.invalid {
  background-color: var(--salmon);
  color: var(--red);
  padding: 15px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

footer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  color: var(--lightYellow);
  font-size: 20px;
  line-height: 2;
  letter-spacing: 0.6em;
  font-weight: 900;
}
/*# sourceMappingURL=style.css.map */