body {
  background-color: red;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  margin: 40px;
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

section ul li {
  border: 1px solid black;
  margin: 5px 0;
  border-bottom-left-radius: 5px;
  width: 300px;
  transition: .3s;
  background-color: yellowgreen;
  overflow: hidden;
  box-shadow: 0 0 5px 0px grey;
}

section ul li:hover a {
  transform: translateX(20px);
}

section ul li a {
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  display: block;
  background-color: red;
}

section form {
  text-align: center;
  display: flex;
}

section form input[type="text"] {
  padding: 5px 10px;
  margin: 0px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid black;
}

section form input[type="text"]:focus {
  border: none;
  border-bottom: 3px solid black;
}

section form input[type="submit"] {
  padding: 5px 10px;
  margin: 0px;
  background: linear-gradient(#e66465, #9198e5);
  border: none;
  box-shadow: 2px 2px 5px 0 linear-gradient(#e66465, #9198e5);
  color: #111;
  border-bottom-left-radius: 7px;
  cursor: pointer;
}

section form input[type="submit"]:hover {
  color: white;
}

section .headline {
  font-size: 20px;
  font-weight: bold;
}

section.category-list ul#own-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.category-list ul#own-list .own-category {
  display: flex;
  justify-content: space-between;
}

section.category-list ul#own-list .own-category .own-category__link {
  align-self: start;
  width: 80%;
  text-align: left;
}

section.category-list ul#own-list .own-category .own-category__input {
  align-self: end;
  background-color: red;
}
