.footer {
    flex-basis: 100%;
    text-align: center;
    color: var(--lightYellow);
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0.6em;
    font-weight: 900;
    font-family: 'Libre Franklin',sans-serif;
   
}