body.login { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.login__text-color{
    color:var(--darkYellow)
}
.login__header{
    text-align: center;
}

.form__wrapper {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
   
}
.login__form__link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.login__form__password {
    padding: 5px 60px;
    margin: 0px;
    border: none;
    background-color: transparent;
    border-bottom: 4px solid var(--green);
}
.login__input{
    margin-bottom: 10px;
}
.logout{
    z-index: 2;
    font-family: 'Pristina', 'pristina-regular', sans-serif;
    padding: 7px 30px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    color: var(--lightYellow);
    background-color: var(--red);
    text-decoration: none;
    position: fixed;
    top: 10px;
    right: 10px;
}
