section {

    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    ul {
        margin-top: 60px;

        @media (max-width: 1200px) {
            padding-left: 0
        }

        li {

            margin: 5px 0;
            border-bottom-left-radius: var(--border-radius);
            border-top-right-radius: var(--border-radius);
            width: 300px;
            transition: .3s;
            background-color: var(--green);
            overflow: hidden;
            box-shadow: 10px 10px 6px 0px var(--green);

            &:hover {
                box-shadow: 0 0 0 var(--green);
                font-weight: bold;
            }

            &:hover a {


                font-weight: bold;

            }

            a {
                padding: 5px 10px;
                text-decoration: none;
                color: var(--lightYellow);
                display: block;
                background-color: var(--green);
            }
        }
    }

    // form {
    //     text-align: center;
    //     display: flex;

    //     input[type="text"] {
    //         padding: 5px 60px;

    //         @media (max-width: 1200px) {
    //             padding: 5px 33px;
    //         }

    //         margin:0px;
    //         border: none;
    //         background-color: transparent;
    //         border-bottom: 4px solid var(--green);

    //         &:focus {
    //             border: none;
    //             border-bottom: 2px solid var(--green);
    //         }
    //     }

        // input[type="submit"] {
        //     font-family: 'Pristina', 'pristina-regular', sans-serif;
        //     font-size: 30px;

        //     @media (max-width: 1200px) {
        //         font-size: 15px;
        //     }

        //     padding:7px 30px;
        //     margin: 0 0 0 30px;
        //     background: linear-gradient(var(--lightYellow), var(--darkYellow));
        //     border: none;
        //     box-shadow: 10px 10px 6px 0 var(--lightYellow);
        //     color: var(--green);
        //     border-bottom-left-radius: 20px;
        //     border-top-right-radius: 20px;
        //     cursor: pointer;
        //     transition: .3s;

        //     &:hover {
        //         box-shadow: -3px -3px 6px 0 var(--lightYellow);
        //         font-weight: bold;
        //     }
        // }
        
    // }

    .headline {
        font-size: 100px;
        margin-top: 50px;
        @media (max-width: 1550px){
            font-size: 60px;
            margin-top: 20px;
        }
        @media (max-width: 1200px) {
            font-size: 40px;
        }
        font-family: 'Pristina',
        'pristina-regular',
        sans-serif;
        color: var(--lightYellow);
        margin:0
    }
}





.trash {
    background: url(../../images/trash.svg);
    height: 1.2rem;
    width: 1rem;
    display: block;
    color: var(--red);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: var(--red);
}

input#add {
    background: var(--green);
    color: var(--lightYellow);
}
input#add:disabled{
    background-color: var(--red);
}

input#trash-section {
    visibility: hidden;
}

.label__trash {
    margin: 7px 7px 0 0
}

form[action="/another-list"] {
    margin-bottom: 70px;
}

.invalid {
    background-color: var(--salmon);
    color: var(--red);
    padding: 15px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}