// /* Color Theme Swatches in RGBA */
// .Grafika-1-rgba { color: rgba(48, 114, 77, 1); }
// .Grafika-2-rgba { color: rgba(216, 179, 67, 1); }
// .Grafika-3-rgba { color: rgba(242, 185, 79, 1); }
// .Grafika-4-rgba { color: rgba(242, 176, 162, 1); }
// .Grafika-5-rgba { color: rgba(242, 75, 60, 1); }



@font-face {
    font-family: pristina-regular;
    url:('../../font/PRISTINA.TTF');
    src: url('../../font/PRISTINA.TTF') format('embedded-opentype'), /* Internet Explorer */
    url('../../font/PRISTINA.TTF') format('woff2'), /* Super Modern Browsers */
    url('../../font/PRISTINA.TTF') format('woff'), /* Pretty Modern Browsers */
    url('../../font/PRISTINA.TTF')  format('truetype'), /* Safari, Android, iOS */
    url('../../font/PRISTINA.TTF') format('svg'); /* Legacy iOS */
}

