section{
    margin: 40px;
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
ul { 
    list-style-type:none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    li { 
        // padding: 5px 10px;
        border: 1px solid black;
        margin: 5px 0 ;
        border-bottom-left-radius: 5px;
        width: 300px ;
        transition: .3s;
        background-color: yellowgreen;
        overflow: hidden;
        box-shadow: 0 0 5px 0px grey;
        &:hover a {
           
            transform: translateX(20px);
        }
        a {
            padding: 5px 10px;
            text-decoration: none;
            color: black;
            display: block;
            background-color: red;
        }
    }
}
form {
    text-align: center;
    display: flex;
    input[type="text"]{
        padding:5px 10px;
        margin:0px;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid black;
        &:focus{
            border:none;
            border-bottom: 3px solid black;
        }
    }
    input[type="submit"]{
        padding:5px 10px;
        margin: 0px;
        background: linear-gradient(#e66465, #9198e5);
        border: none;
        box-shadow: 2px 2px 5px 0 linear-gradient(#e66465, #9198e5);
        color: #111;
        border-bottom-left-radius: 7px;
        cursor: pointer;
        &:hover{
            color: white;
        }
    }
}

.headline {
    font-size: 20px;
    font-weight: bold;
    
}
}

section.category-list {
  ul#own-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    
}