section{
    margin: 40px;
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
ul { 
    margin-top: 60px;
    // list-style-type:none;
    // margin-block-start: 0;
    // margin-block-end: 0;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
    // padding-inline-start: 0px;
    li { 
       
        margin: 5px 0 ;
        border-bottom-left-radius: 5px;
        width: 300px ;
        transition: .3s;
        background-color: yellowgreen;
        overflow: hidden;
        box-shadow: 0 0 5px 0px grey;
        &:hover a {
           
            transform: translateX(20px);
        }
        a {
            padding: 5px 10px;
            text-decoration: none;
            color: black;
            display: block;
            background-color: red;
        }
    }
}
form {
    text-align: center;
    display: flex;
    // margin-bottom: 60px;
    input[type="text"]{
        padding:5px 60px;
        margin:0px;
        border: none;
        background-color: transparent;
        border-bottom: 4px solid var(--green);
        &:focus{
            border:none;
            border-bottom: 2px solid var(--green);
        }
    }
    input[type="submit"]{
        font-family:'Pristina', sans-serif;
        font-size: 30px;
        padding:7px 30px;
        margin: 0 0 0 30px;
        background: linear-gradient(var(--lightYellow), var(--darkYellow));
        border: none;
        box-shadow: 10px 10px 6px 0 var(--lightYellow);
        color: var(--green);
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        cursor: pointer;
        transition: .3s;
        &:hover{
            box-shadow: -3px -3px 6px 0 var(--lightYellow);
        }
    }
}

.headline {
    font-size: 100px;
    font-family: 'Pristina', sans-serif;
    color: var(--green);
    
}
}
section.all{
    flex-grow: 6;
}
section.category-list {
    flex-grow: 4;
    flex-basis: 35%;
  ul#own-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .own-category { 
        display: flex;
        justify-content: space-between;
        .own-category__link {
            align-self: start;
            width: 80%;
            text-align: left;
        }
        .own-category__input { 
            align-self: end;
            background-color: red;
        }
    }
  }
    
}