@media (max-width: 1200px) {
  body {
    flex-direction: column;
  }

  section.all {
      margin-top: 0;
  }

  section .headline {
      font-size: 40px;
  }

  section form input[type="submit"] {
      font-size: 15px;
  }
}

