section.own-list {
    display: flex;
    flex-direction: column;

    @media (max-width: 1200px) {
        min-height: 100vh;
    }
}

h1.headline {
    font-size: 100px;

    @media (max-width: 1200px) {
        font-size: 40px;
        margin: 20px 0;
    }

    font-family: 'Pristina',
    'pristina-regular',
    sans-serif;
    color: var(--green);
    margin: 0
}



section.all {
    width: 55vw;
    margin-top: 50px;
    /* Feature*/
    transform: translateX(30vw);
    transition: .8s;
    @media (max-width:1500px){
        transform: translateX(20vw);
    }
    /* Feature*/
    @media (max-width: 1200px) {
        margin-top: 0;
        transform: translateX(0px);
    }
&.active-task {
        transform: translateX(0px);
    }
}

.headline {
    font-size: 55px;
    margin-bottom: 30px;
    cursor: pointer;
}

section.category-list {
    &.active-list {
        transform: translate(0px, 0px) rotate(0deg);
    }
    width: 40vw;

    /* Feature*/
    transform: translate(30vw, 100px) rotate(-90deg);
    transition: .8s;
    padding-top: 15vh;

    @media (max-width: 1200px) {
        margin-top: 0;
        transform: translate(0px, 0px) rotate(0deg);
        padding-top: 0vh;
    }

    /* Feature*/
  
    &.active-list ul {
        visibility:visible;
    }
    ul {
        visibility: hidden;
    }
    ul#own-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Libre Franklin', sans-serif;

        .list__form {
            margin-bottom: 50px;
        }

        @media (max-width: 1200px) {
            padding-left: 0;
        }

        .own-category {
            display: flex;
            justify-content: space-between;

            .own-category__link {
                align-self: start;
                width: 80%;
                text-align: left;
            }

            .own-category__input {
                align-self: end;
                background-color: red;
            }
        }
    }

}



