@import 'header';
@import 'form';
@import 'checklist';
@import 'work';
@import 'health';
@import 'hobby';
@import 'finance';
@import 'fandf';
@import 'self';
@import 'main';
@import 'footer';

// /* Color Theme Swatches in Hex */
// .Grafika-1-hex { color: #30734D; }
// .Grafika-2-hex { color: #D9B343; }
// .Grafika-3-hex { color: #F2B950; }
// .Grafika-4-hex { color: #F2B1A2; }
// .Grafika-5-hex { color: #F24C3D; }

// // /* Color Theme Swatches in RGBA */
// .Grafika-1-rgba { color: rgba(48, 114, 77, 1); }
// .Grafika-2-rgba { color: rgba(216, 179, 67, 1); }
// .Grafika-3-rgba { color: rgba(242, 185, 79, 1); }
// .Grafika-4-rgba { color: rgba(242, 176, 162, 1); }
// .Grafika-5-rgba { color: rgba(242, 75, 60, 1); }

// /* Color Theme Swatches in HSLA */
// .Grafika-1-hsla { color: hsla(146, 40, 31, 1); }
// .Grafika-2-hsla { color: hsla(44, 66, 55, 1); }
// .Grafika-3-hsla { color: hsla(39, 86, 63, 1); }
// .Grafika-4-hsla { color: hsla(11, 75, 79, 1); }
// .Grafika-5-hsla { color: hsla(5, 87, 59, 1); }